<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogToConsole="true"
      internalLogIncludeTimestamp="false">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assenbly="Pds.Api"/>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- File Target for all log messages with basic details -->
    <target xsi:type="File" name="allfile" fileName="all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message}|${exception:format=tostring}|${callsite}" />
    <target xsi:type="OutputDebugString" name="debug" layout="${message}" />

    <!-- File Target for own log messages with extra web details using some ASP.NET core renderers -->
    <target xsi:type="ColoredConsole" name="allConsole" useDefaultRowHighlightingRules="false"
            layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}${newline}${message}${onexception:${newline}${exception:format=ToString,StackTrace}}"
            header="Добро пожаловать в web api Bloggers CMS!!! ${newline}Bloggers CMS (старое название &quot;People Discovery System&quot;) - это система управления контентом, разрабатываемая специально под задачи блогеров. ${newline}Платформа создается как часть экосистемы вокруг проекта &quot;АйТиБорода&quot;. ${newline}Разрабатывается на базе .NET 5 и Blazor">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>

    <target xsi:type="LogService" name="LogService"/>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile, allConsole, debug" />

    <!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />

    <logger name="*" minlevel="Trace" writeTo="LogService" />
  </rules>
</nlog>